body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  overflow-x: hidden;
}

.playGround {
  position: relative;
}


.player-panel {
  display: flex;
  justify-content: center;
  font-size: 32px;
  height: 30vh;
}

.player-panel img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.player-panel div {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 30px;
  color: whitesmoke;
}

tr {
  width: 399px;
}

td {
  position: relative;
  /*einzelne Tabelle Spalte td ist flexibel nicht an Position fixiert*/
  width: 133px;
  height: 133px;
  border: 5px solid White;
  cursor: pointer;
}

td:hover {
  background-color: rgba(25, 221, 0, 0.08);
}


/*tabelle Container*/
table {
  border-collapse: collapse;
  display: flex;
  align-items: center;
  justify-content: center;
}

table tr:first-child td {
  /*Oberern Rand von allen Zellen in der ersten Reihe werden gelöscht*/
  border-top: 0;
}

table tr td:first-child {
  /*linker Rand von allen Zellen in jeder Reihe werden gelöscht*/
  border-left: 0;
}

table tr:last-child td {
  /*Unteren Rand von allen Zellen in letzte Reihe werden gelöscht*/
  border-bottom: 0;
}

table tr td:last-child {
  /*rechter Rand von letzte Zellen von allen Reihen werden gelöscht*/
  border-right: 0;
}

.shape {
  position: absolute;
  /*x-o-images werden in den Felder positioniert mit position: absolute;*/
  width: 80px;
  height: 80px;
  left: 26px;
  /*x-o-images werden in den Felder positioniert mit position: absolute;*/
  top: 26px;
  /*x-o-images werden in den Felder positioniert mit position: absolute;*/
}

.d-none {
  display: none;
}

.player-inactive {
  opacity: 0.5;
}

.lineContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.horizontal-line {
  height: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 350px;
  position: absolute;

  transform: scaleX(0);
  /*auf 0 skalieren*/
  transition: transform 225ms ease-in-out;
  z-index: 1;

}

.make-vertical {
  transform: rotate(90deg) scaleX(0);
  transition: transform 225ms ease-in-out;
}



.gameOver {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: 100%;
  object-fit: cover;
  animation: fadeIn 300ms ease-in-out;
}

@keyframes fadeIn {

  /*Annimation ZoomIn Funktion mit Keyframes*/
  from {
    opacity: 0;
    /*transform: scale(0);*/
  }

  to {
    opacity: 1;
    /*transform: scale(1);*/
  }
}

.noWinner{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  height: 100%;
  z-index: 1;
  animation: zoomIn 400ms ease-in-out;
}


@keyframes zoomIn {

  /*Annimation ZoomIn Funktion mit Keyframes*/
 from {
  transform: scale(0);
  }

  to {
  transform: scale(1);
  }
}


.restart-btn {
  z-index: 2;
  width: 80vw;
  height: 70px;
  color: navajowhite;
  font-size: 40px;
  font-weight: bolder;
  background-color:  rgb(51, 153, 194);
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  border-radius: 25px;
}

.restart-btn:hover {
  background-color: skyblue;
}

.showWinner {
  font-size: 32px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #b8d3d3;
  height: 10vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  z-index: 2;
  text-align: center;
  color: blueviolet;
}

.slider-bg-image {
  height: 100vh;
  width: 100vw;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  overflow-x: hidden;
  transition: transform 225ms ease-in-out;
}


.slider-container {
  height: 100vh;
  width: 100vw;
  position: relative;
}